{% from "tag.njk" import item as tagItem %}

{% macro item(article, globalTagData) %}
<a href="{{article.url}}" class="article-card group">
  <h2 class="text-xl !mb-0">{{ article.title }}</h2>
  <p class="text-sm mb-3">
    Published on <time datetime={{ article.date | date }}>{{ article.date | date('HUMAN_DATE') }}</time>
  </p>
  {{ article.description | safe }}
  <div class="flex items-center mt-3">
    <ul class="p-0 m-0">
      {% for tag in article.tags %}
        {{ tagItem(tag, globalTagData, false) }}
      {% endfor %}
    </ul>
    <div class="ms-auto self-end shrink-0 transition-all group-hocus:-translate-x-1">
      <span class="font-bold">
        Read more
      </span>
      <svg class="ms-1 inline-block" width=".8rem" height=".8rem" version="2.0">
        <use href="#chevron-right" />
      </svg>
    </div>
  </div>
</a>
{% endmacro %}