{% macro header(title) %}
<div class="w-full px-3 py-1 bg-gray-200 dark:bg-gray-800">
  <span class="opacity-80">{{ title }}</span>
</div>
{% endmacro %}

{% macro item(title, link) %}
<li>
  <a class="group block px-3 py-1 transition-all hocus:translate-x-1 outline-none font-semibold " href="{{ link }}">
    <span class="inline-block">
      {{ title }}
    </span>
    <svg class="inline-block opacity-0 transition-all group-hocus:opacity-100" width=".8rem" height=".8rem" version="2.0">
      <use href="#chevron-right" />
    </svg>
  </a>
</li>
{% endmacro %}


<nav class="flex flex-col md:sticky md:max-h-[768px] md:top-3 w-full md:w-[256px] flex-shrink-0 mb-3 md:mb-0 md:me-5 bg-gray-100 dark:bg-gray-700 rounded-md shadow-lg overflow-hidden">
  <div class="w-full flex p-3 bg-gray-900 text-white rounded-t-md">
    <a href="/" class="group inline-flex uppercase font-bold italic text-xl me-auto outline-none">
      <!-- This is probably the worst set of classes in this entire project -->
      <span class="transition-all z-1 hover:text-[#27aad7] group-focus:text-[#27aad7] hover:drop-shadow-[0_0_0_transparent] group-focus:drop-shadow-[0_0_0_transparent] drop-shadow-[.1rem_.1rem_0_#27aad7]">p</span>
      <span class="transition-all z-1 hover:text-[#bce236] group-focus:text-[#bce236] hover:drop-shadow-[0_0_0_transparent] group-focus:drop-shadow-[0_0_0_transparent] drop-shadow-[.1rem_.1rem_0_#bce236]">i</span>
      <span class="transition-all z-1 hover:text-[#e88e27] group-focus:text-[#e88e27] hover:drop-shadow-[0_0_0_transparent] group-focus:drop-shadow-[0_0_0_transparent] drop-shadow-[.1rem_.1rem_0_#e88e27]">x</span>
      <span class="transition-all z-1 hover:text-[#d72859] group-focus:text-[#d72859] hover:drop-shadow-[0_0_0_transparent] group-focus:drop-shadow-[0_0_0_transparent] drop-shadow-[.1rem_.1rem_0_#d72859]">e</span>
      <span class="transition-all z-1 hover:text-[#2d4263] group-focus:text-[#2d4263] hover:drop-shadow-[0_0_0_transparent] group-focus:drop-shadow-[0_0_0_transparent] drop-shadow-[.1rem_.1rem_0_#2d4263]">l</span>
    </a>
    <a class="px-2 py-1 me-2 bg-gray-700 pointer-events-none transition-all opacity-0 -translate-x-1 focus:opacity-100 focus:translate-x-0 focus:pointer-events-auto" href="#content">
      Skip navigation
    </a>
    <button class="appearance-none px-2 py-1 bg-gray-700 hocus:bg-gray-600 transition-all rounded-md flex items-center me-2 md:me-0 no-js-hidden" data-theme-toggle title="Switch color scheme">
      <svg class="fill-current hidden dark:block" height="1rem" width="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/>
      </svg>
      <svg class="fill-current dark:hidden" height="1rem" width="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/>
      </svg>
    </button>
    <button class="appearance-none block md:hidden p-2 bg-gray-700 hocus:bg-gray-600 transition-all rounded-md js-nav-toggle" title="Toggle navigation">
      <svg class="fill-gray-300" height="1rem" width="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    </button>
  </div>
  <div class="relative flex flex-col h-0 md:h-full transition-all overflow-hidden js-nav-wrapper">
    <div class="absolute -right-5 left-full bottom-5 origin-bottom-right -rotate-90 opacity-5 dark:mix-blend-overlay text-9xl font-bold italic uppercase z-0 pointer-events-none select-none">nav</div>
    {{ header('site') }}
    <ul class="py-2">
      {{ item('about', '/about') }}
      {{ item('projects', '/projects') }}
      {{ item('contact', '/contact') }}
    </ul>

    {{ header('writing / speaking') }}
    <ul class="py-2">
      {{ item('blog', '/blog') }}
      {{ item('talks', '/talks') }}
      {{ item('podcasts', '/podcasts') }}
    </ul>

    {{ header('misc.') }}
    <ul class="py-2">
      {{ item('uses', '/uses') }}
      {{ item('now', '/now') }}
      {{ item('characters', '/characters') }}
      {{ item('friends', '/friends') }}
    </ul>
    <div class="py-2 mt-3 md:mt-auto text-sm text-center">
      <p class="m-0">&copy; {{ currentYear }} pixeldesu &#8226; <a href="https://github.com/pixeldesu/pixelde.su/commit/{{ commit }}" target="_blank" class="font-semibold">rev {{ commit | truncate(8) | replace('...', '') }}</a></p>
      <p class="m-0">
        <a href="https://github.com/pixeldesu/pixelde.su" target="_blank" class="font-semibold">source code</a> &#8226; <a href="/colophon" class="font-semibold">colophon</a>
      </p>
    </div>
  </div>
</nav>