{% from "tag.njk" import item as tagItem %}

{% macro item(podcast, globalTags) %}
<a href="{{podcast.url}}" target="_blank" class="article-card">
  <h2 class="text-xl !mb-0">
    Episode {{ podcast.episode_number }} of {{ podcast.podcast }}: {{ podcast.title }}
  </h2>
  <p class="text-sm mb-3">
    <time datetime={{ podcast.date | date }}>{{ podcast.date | date('HUMAN_DATE') }}</time>
  </p>
  <ul class="p-0 m-0">
    {% for tag in podcast.tags %}
      {{ tagItem(tag, globalTags, false) }}
    {% endfor %}
  </ul>
</a>
{% endmacro %}