{% macro item(project, skills) %}
<a class="article-card group relative overflow-hidden" href="{{ project.url }}">
  <div class="relative z-10">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <ul class="p-0 m-0">
      {% for skill in project.skills %}
        <li class="inline-block list-none rounded-md px-2 m-0 me-1 {{ skills[skill].classes }}">{{ skills[skill].name | trim }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="absolute -left-5 -bottom-2 text-slate-300 opacity-15 text-9xl font-bold italic uppercase z-0 pointer-events-none select-none transition-all group-hocus:{{project.accent}} group-hocus:left-0">{{ project.name }}</div>
</a>
{% endmacro %}