{% macro item(social) %}
  {% if social.link %}
    <a class="not-prose flex px-2 py-1 mb-1 rounded-md bg-slate-50/50 hover:bg-slate-100 focus:bg-slate-100" href="{{ social.link }}" target="_blank">
      {{ social.icon | safe }}
      <div class="ps-2">
        <span class="leading-none block font-semibold">{{ social.name }}</span>
        <span class="leading-none opacity-75 block italic">{{ social.text }}</span>
      </div>
    </a>
  {% else %}
    <div class="not-prose flex px-2 py-1 mb-1 rounded-md bg-slate-50/50">
      {{ social.icon | safe }}
      <div class="ps-2">
        <span class="leading-none block font-semibold">{{ social.name }}</span>
        <span class="leading-none opacity-75 block italic">{{ social.text }}</span>
      </div>
    </div>
  {% endif %}
{% endmacro %}