{% extends "layouts/minimal.njk" %}

{% from "blog.njk" import item %}
{% from "tag.njk" import item as tagItem %}

{% block main %}
  <div class="card card--raised mb-3 prose prose-headings:my-3">
    <div class="flex items-center">
      <h2>All blog posts tagged with {{ tagItem(tag, tagData.global, false) }}</h2>
    </div>
    <p>
      {{ articles.length }}
      {% if (articles.length === 1) %}
        post
      {% else %}
        posts
      {% endif %}
      with this tag.
    </p>
  </div>
  <a class="link-card items-center group font-semibold mb-3" href="/blog">
    <svg class="fill-current me-2" width="1rem" height="1rem" version="2.0">
      <use href="#chevron-left" />
    </svg>
    <span>Back to all blog posts</span>
  </a>
  {% for article in articles %}
    {{ item(article, tagData.global) }}
  {% endfor %}
{% endblock %}