{% extends "layouts/minimal.njk" %}

{% from "blog.njk" import item as blogItem %}
{% from "podcast.njk" import item as podcastItem %}
{% from "project.njk" import item as projectItem %}
{% from "talk.njk" import item as talkItem %}
{% from "tag.njk" import item as tagItem %}

{% block main %}
  <div class="card card--raised mb-3 prose">
    <div class="flex items-center">
      <h2>Everything tagged with {{ tagItem(tag, globalTags, false) }}</h2>
    </div>
    <p>
      {{ count }}
      {% if (count === 1) %}
        item
      {% else %}
        items
      {% endif %}
      with this tag.
    </p>
  </div>

  {% if articles.length > 0 %}
    <div class="card card--grouped">
      <h3 class="font-bold">Blog articles</h3>
      {% for article in articles %}
        {{ blogItem(article, globalTags) }}
      {% endfor %}
      <a href="/blog" class="block text-center no-underline transition-all hocus:translate-x-1">
        All articles
        <svg class="ms-1 inline-block" width=".8rem" height=".8rem" version="2.0">
          <use href="#chevron-right" />
        </svg>
      </a>
    </div>
  {% endif %}

  {% if talks.length > 0 %}
    <div class="card card--grouped">
      <h3 class="font-bold">Talks</h3>
      {% for talk in talks %}
        {{ talkItem(talk, globalTags) }}
      {% endfor %}
      <a href="/talks" class="block text-center no-underline transition-all hocus:translate-x-1">
        All talks
        <svg class="ms-1 inline-block" width=".8rem" height=".8rem" version="2.0">
          <use href="#chevron-right" />
        </svg>
      </a>
    </div>
  {% endif %}

  {% if projects.length > 0 %}
    <div class="card card--grouped">
      <h3 class="font-bold">Projects</h3>
      {% for project in projects %}
        {{ projectItem(project, globalTags) }}
      {% endfor %}
      <a href="/projects" class="block text-center no-underline transition-all hocus:translate-x-1">
        All projects
        <svg class="ms-1 inline-block" width=".8rem" height=".8rem" version="2.0">
          <use href="#chevron-right" />
        </svg>
      </a>
    </div>
  {% endif %}

  {% if podcasts.length > 0 %}
    <div class="card card--grouped">
      <h3 class="font-bold">Podcasts</h3>
      {% for podcast in podcasts %}
        {{ podcastItem(podcast, globalTags) }}
      {% endfor %}
      <a href="/podcasts" class="block text-center no-underline transition-all hocus:translate-x-1">
        All podcasts
        <svg class="ms-1 inline-block" width=".8rem" height=".8rem" version="2.0">
          <use href="#chevron-right" />
        </svg>
      </a>
    </div>
  {% endif %}
{% endblock %}