{% extends "layouts/base.njk" %}

{% block main %}
  <div class="card card--raised overflow-visible min-h-[768px] mb-3 prose prose-headings:my-3 prose-code:before:hidden prose-code:after:hidden">
    <div class="relative z-10">
      {{ content | safe }}
    </div>
  </div>
  <a class="link-card group font-semibold" href="/contact">
    <span>Want to talk? Check out my contact info!</span>
    <svg class="ms-2" width="1rem" height="1rem" version="2.0">
      <use href="#chevron-right" />
    </svg>
  </a>
{% endblock %}