<!DOCTYPE html>
<html class="size-full" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>

    {% if title %}
      <title>{{ title }} - pixeldesu</title>
      <meta property="og:title" content="{{ title }} - pixeldesu"/>
      <meta property="twitter:title" content="{{ title }} - pixeldesu"/>
    {% else %}
      <title>pixeldesu</title>
      <meta property="og:title" content="pixeldesu"/>
      <meta property="twitter:title" content="pixeldesu"/>
    {% endif %}
    <link rel="me" href="https://desu.social/@pixel"/>
    <script type="module" src="/assets/js/main.js"></script>
  </head>
  <body class="min-h-full min-w-full flex justify-center md:items-start bg-slate-100 md:bg-[url('/assets/img/poly.png')] bg-no-repeat bg-[right_50vh] bg-fixed">
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden" aria-hidden="true">
      <defs>
        <symbol id="chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></symbol>    
      </defs>
    </svg>

    <div class="w-full md:w-[768px] min-h-[768px] md:my-[5rem] p-3 md:flex md:flex-row">
      {% include "navigation.njk" %}
      <main id="content" class="w-full">
        {% block main %}{% endblock %}
      </main>
    </div>
  </body>
</html>