<!DOCTYPE html>
<html class="size-full no-js" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>

    {% if title %}
      <title>{{ title }} - pixeldesu</title>
      <meta property="og:title" content="{{ title }} - pixeldesu"/>
      <meta name="twitter:title" content="{{ title }} - pixeldesu"/>
    {% else %}
      <title>pixeldesu</title>
      <meta property="og:title" content="pixeldesu"/>
      <meta name="twitter:title" content="pixeldesu"/>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}"/>
      <meta name="twitter:description" content="{{ description }}"/>
    {% else %}
      <meta name="description" content="Personal homepage of pixeldesu, a professional web developer and open source tinkerer from Germany."/>
      <meta name="twitter:description" content="Personal homepage of pixeldesu, a professional web developer and open source tinkerer from Germany."/>
    {% endif %}
    <link rel="me" href="https://desu.social/@pixel"/>

    {% if url === "/" %}
      {% for webring in webrings %}
        {% if webring.onionring %}
          <script src="{{ webring.onionring.script }}"></script>
        {% endif %}
      {% endfor %}
    {% endif %}

    <script type="module" src="/assets/js/main.js"></script>
  </head>
  <body class="min-h-full min-w-full flex justify-center md:items-start bg-slate-100 md:bg-[url('/assets/img/poly.png')] bg-no-repeat bg-[right_50vh] bg-fixed">
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden" aria-hidden="true">
      <defs>
        <symbol id="chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></symbol>    
        <symbol id="chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></symbol>
        <symbol id="chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></symbol>
        <symbol id="chevron-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></symbol>
        <symbol id="shuffle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z"/></symbol>
      </defs>
    </svg>

    <div class="w-full md:w-auto min-h-[768px] md:my-[5rem] p-3 md:flex md:flex-row">
      {% include "navigation.njk" %}
      <main id="content" class="w-full md:min-w-[65ch] md:max-w-[65ch]">
        {% block main %}{% endblock %}
      </main>
    </div>
  </body>
</html>