{% extends "layouts/base.njk" %}

{% block main %}
  <div class="card card--raised min-h-[768px] prose">
    <div class="relative z-10">
      <h1>{{title}}</h1>
      <p class="text-sm mb-2">
          Published on <time datetime={{ date | date }}>{{ date | date('HUMAN_DATE') }}</time>, {{ readingInfo.words }} words, {{ readingInfo.minutes }} minutes to read
      </p>

      {% if deprecated %}
      <div class="block p-3 py-2 mt-3 rounded-md outline-dashed outline-2 outline-rose-600 bg-rose-100 not-prose">
        <p class="font-bold">This article is out of date!</p>
        {% if deprecated.length > 0 %}
          {{ deprecated }}
        {% endif %}
      </div>
      {% endif %}

      {{ content | safe }}
    </div>
  </div>
{% endblock %}