{% extends "layouts/base.njk" %}

{% block main %}
  <div class="min-h-[768px] flex flex-col">
    <div class="card card--raised flex flex-grow prose prose-headings:my-3 prose-code:before:hidden prose-code:after:hidden">
      <div class="absolute -right-5 left-full bottom-0 origin-bottom-right -rotate-90 text-slate-300 opacity-25 text-9xl font-bold italic uppercase z-0 pointer-events-none select-none">{{ title }}</div>
      <div class="relative flex flex-col justify-center z-10">
        {{ content | safe }}
      </div>
    </div>
    {% include "webrings.njk" %}
  </div>
{% endblock %}