{% extends "layouts/base.njk" %}

{% block main %}
  <div class="card card--raised min-h-[768px] md:w-[65ch] prose prose-headings:my-3 prose-code:before:hidden prose-code:after:hidden">
    <div class="absolute -right-5 left-full bottom-0 origin-bottom-right -rotate-90 text-slate-300 opacity-25 text-9xl font-bold italic uppercase z-0 pointer-events-none select-none">{{ title }}</div>
    <div class="relative z-10">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}