@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    @apply dark:prose-invert dark:prose-neutral prose-headings:my-3
      prose-code:before:hidden prose-code:after:hidden;
  }

  .button {
    @apply inline-flex items-center rounded-md shadow-lg font-bold text-white
      px-2 py-0.5 transition-all hocus:translate-y-0.5;
  }

  .button svg {
    @apply inline-block fill-white h-[1.33rem] align-text-bottom w-auto me-1;
  }

  .card {
    @apply p-3 rounded-md;
  }

  .card--slim {
    @apply !px-2 !py-1 !mb-1;
  }

  .card--raised {
    @apply relative bg-white dark:bg-neutral-800 shadow-lg;
  }

  .card--flat {
    @apply bg-slate-50/50 dark:bg-neutral-600/50;
  }

  .card--linked {
    @apply no-underline transition-all;
  }

  .card--flat.card--linked {
    @apply hocus:bg-slate-100 dark:hocus:bg-neutral-700;
  }

  .card--deprecated {
    @apply text-yellow-700 dark:text-yellow-400 bg-yellow-50/50
      dark:bg-yellow-600/25;
  }

  .card--flat.card--linked.card--deprecated {
    @apply hocus:bg-yellow-100/75 dark:hocus:bg-yellow-700/50;
  }

  .card--character-poly {
    @apply outline-dashed outline-sky-400/50 outline-2 bg-sky-50/50
      dark:bg-sky-600/10;
  }

  .link-card {
    @apply card card--raised card--linked flex justify-center
      hover:translate-y-1 hocus:bg-slate-100 dark:hocus:bg-neutral-700;
  }

  .webring {
    @apply flex p-1 items-center mb-1 justify-center rounded-md;
  }

  .webring--highlighted {
    @apply bg-slate-100 dark:bg-neutral-600;
  }

  .webring-action {
    @apply rounded-md px-2 py-1 hocus:bg-slate-200 dark:hocus:bg-neutral-700
      transition-all;
  }

  .webring-action--previous {
    @apply me-auto;
  }

  .webring-action--next {
    @apply ms-auto;
  }
}

.prose p:first-of-type,
.prose h1:first-of-type,
.prose h2:first-of-type,
.prose h3:first-of-type {
  margin-block-start: 0;
}

.no-js .no-js-hidden {
  display: none;
}

[data-webring-list] summary svg {
  display: inline-block;
}

[data-webring-list] summary::marker,
[data-webring-list] summary::-webkit-details-marker {
  display: none;
}

[data-webring-list]:not([open]) summary svg:last-child {
  display: none !important;
}

[data-webring-list][open] summary svg:first-of-type {
  display: none !important;
}
