@import url("./vendor/parvus.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    @apply dark:prose-invert dark:prose-neutral prose-headings:my-3
      prose-code:before:hidden prose-code:after:hidden;
  }

  .button {
    @apply inline-flex items-center rounded-md shadow-lg font-bold text-white
      px-2 py-0.5 transition-all hocus:translate-y-0.5;
  }

  .button svg {
    @apply inline-block fill-white h-[1.33rem] align-text-bottom w-auto me-1;
  }
}

.dark {
  --parvus-background-color: rgb(23 23 23 / 1);
  --parvus-color: #d4d4d4;
  --parvus-caption-color: #d4d4d4;
}

.prose p:first-of-type,
.prose h1:first-of-type,
.prose h2:first-of-type,
.prose h3:first-of-type {
  margin-block-start: 0;
}

.no-js .no-js-hidden {
  display: none;
}

[data-webring-list] summary svg {
  display: inline-block;
}

[data-webring-list] summary::marker,
[data-webring-list] summary::-webkit-details-marker {
  display: none;
}

[data-webring-list]:not([open]) summary svg:last-child {
  display: none !important;
}

[data-webring-list][open] summary svg:first-of-type {
  display: none !important;
}
