@import url("./vendor/parvus.css");
@import url("./vendor/leaflet.css");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *), @media (prefers-color-scheme: dark) { &:not(.light *) });

@variant hocus {
  &:hover,
  &:focus {
    @slot;
  }
}

@variant group-hocus {
  :is(:where(.group)):hover &,
  :is(:where(.group)):hover & {
    @slot;
  }
}

@theme {
  --animate-spin-speed-1x: spin 15s linear infinite;
  --animate-spin-speed-2x: spin 20s linear infinite;
  --animate-spin-speed-3x: spin 25s linear infinite;
  --animate-spin-speed-4x: spin 30s linear infinite;
  --animate-spin-speed-5x: spin 35s linear infinite;
}

@utility prose {
  @apply dark:prose-invert prose-headings:!my-3 prose-code:before:hidden prose-code:after:hidden;

  p:first-of-type,
  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type {
    margin-block-start: 0 !important;
  }
}

@layer components {
  .button {
    @apply inline-flex items-center rounded-md shadow-lg font-bold text-white
      px-2 py-0.5 transition-all hocus:translate-y-0.5;
  }

  .button svg {
    @apply inline-block fill-white h-[1.33rem] align-text-bottom w-auto me-1;
  }
}

.dark {
  --parvus-background-color: rgb(23 23 23 / 1);
  --parvus-color: #d4d4d4;
  --parvus-caption-color: #d4d4d4;
}

.no-js .no-js-hidden {
  display: none;
}

[data-webring-list] summary svg {
  display: inline-block;
}

[data-webring-list] summary::marker,
[data-webring-list] summary::-webkit-details-marker {
  display: none;
}

[data-webring-list]:not([open]) summary svg:last-child {
  display: none !important;
}

[data-webring-list][open] summary svg:first-of-type {
  display: none !important;
}
