---
layout: layouts/minimal.vto
title: Bookmarks
---

{{ comp ui.raisedCard { classes: "mb-3 prose" } }}
  <div class="flex items-center">
    <h1>Bookmarks</h1>
  </div>
  <p>Cool things from the internet I want to remember and are (possibly) interesting for visitors of my site!</p>
{{ /comp }}
{{ for bookmark of bookmarks }}
  {{ comp.bookmark({ bookmark }) }}
{{ /for }}