---
layout: layouts/minimal.vto
title: Bookmarks
---

<div class="card card--raised mb-3 prose prose-headings:my-3">
  <div class="flex items-center">
    <h1>Bookmarks</h1>
  </div>
  <p>Cool things from the internet I want to remember and are (possibly) interesting for visitors of my site!</p>
</div>
{{ for bookmark of bookmarks }}
  {{ comp.bookmark({ bookmark }) }}
{{ /for }}