---
layout: layouts/minimal.vto
title: Characters
---

{{ comp ui.raisedCard { classes: "mb-3 prose" } }}
  <h1>Characters</h1>
  <p>Known usually from my profile pictures across platforms, I do have a few original characters that I designed over the years. Here you can find their profiles and references!</p>
{{ /comp }}
<div class="grid gap-3 grid-cols-1 sm:grid-cols-2">
  {{ for character of characters }}
    {{ comp.character({ character }) }}
  {{ /for }}
</div>