---
layout: layouts/main.njk
title: Contact
---

{% from "social.njk" import item %}

<h1>Contact</h1>

<p>Here you can find places where you can contact me.</p>

{% for social in socials %}
  {{ item(social) }}
{% endfor %}
