---
layout: layouts/main.njk
title: Friends
---

{% from "friend.njk" import item %}

<h1>Friends</h1>

<p>Cool people whose websites you should also check out!</p>

<div class="not-prose mb-10">
  <ul>
    {% for friend in friends %}
      {{ item(friend) }}
    {% endfor %}
  </ul>
</div>

<div class="outline-dashed outline-2 px-2 py-1 rounded-md leading-snug italic text-center mb-3">
  <b class="uppercase">Disclaimer:</b> This list is neither complete nor ordered in a specific way. Even if you might not be on this list now, I still cherish all of my friends! &hearts;
</div>