---
layout: layouts/index.njk
title: Welcome!
---

<div class="text-center px-5 md:px-10">
  <h2 class="not-prose text-4xl font-bold italic">Hi, I'm Pixel!</h2>
  <p class="lead">Welcome to my website!</p>

  <p class="mt-0">
    I'm Andy, a Senior Frontend Developer and open source lover from Germany. If you want to find out more about me, 
    use the navigation and check out the other pages on this website!
  </p>
</div>
