---
layout: layouts/minimal.njk
title: Podcasts
---

{% from "podcast.njk" import item %}

<div class="card card--raised mb-3 prose prose-headings:my-3">
  <div class="flex items-center">
    <h1>Podcasts</h1>
  </div>
  <p>I have been a guest on these podcasts!</p>
</div>

{% for podcast in podcasts %}
  {{ item(podcast, globalTags) }}
{% endfor %}