---
layout: layouts/minimal.vto
title: Podcasts
---

{{ comp ui.raisedCard { classes: "mb-3 prose" } }}
  <div class="flex items-center">
    <h1>Podcasts</h1>
  </div>
  <p>I have been a guest on these podcasts!</p>
{{ /comp }}

{{ for podcast of podcasts }}
  {{ comp.podcast({ podcast }) }}
{{ /for }}