---
layout: layouts/minimal.njk
title: Projects
---

{% from "project.njk" import item %}
{% from "svg/github.njk" import svg as githubSVG %}

<div class="prose prose-headings:my-3 max-w-none">
  <div class="relative p-3 mb-3 bg-white rounded-md shadow-lg overflow-hidden">
    <h1>Projects</h1>
    <p>A selection of projects that I have worked on over the years or still actively contribute to!</p>
  </div>
  {% for project in projects %}
    {{ item(project, skills) }}
  {% endfor %}
  <a class="group relative flex justify-center overflow-hidden p-3 mb-3 bg-white rounded-md shadow-lg no-underline transition-all hover:translate-y-1 hover:bg-slate-100 focus:translate-y-1 focus:bg-slate-100" href="https://github.com/pixeldesu">
    {{ githubSVG({ classes: "w-6 me-2 h-auto fill-gray-900" }) }}
    <span>More projects on GitHub</span>
  </a>
</div>