<div class="outline-dashed outline-2{{ if color }} outline-{{ color }}-600{{ if !transparent }} bg-{{ color }}-50/50 dark:bg-{{ color }}-600/10{{ /if }}{{ /if }} px-2 py-1 rounded-md leading-snug italic text-center mb-3 {{ classes }}">
  {{ content |> replace("\n", " ") |> trim }}
</div>