{{ if character.enabled }}
  {{ comp ui.raisedCard { href: `/characters/${character.nickname.toLowerCase()}/`, classes: `flex items-end bg-[url('${character.cover}')] bg-center bg-cover bg-no-repeat h-[200px] md:h-[${ character.featured ? "150" : "100"}px] !p-0 ${ !character.enabled ? "grayscale hover:grayscale-[0.5] cursor-not-allowed" : "" } ${ character.featured ? "md:col-span-2" : ""}` } }}
    <div class="w-full px-3 py-1 bg-white/75 dark:bg-neutral-800/75 uppercase italic font-bold">{{ character.nickname }}</div>
  {{ /comp }}
{{ else }}
  {{ comp ui.raisedCard { href: "#", classes: `flex items-end bg-[url('${character.cover}')] bg-center bg-cover bg-no-repeat h-[200px] md:h-[100px] !p-0 ${ !character.enabled ? "grayscale hover:grayscale-[0.5] cursor-not-allowed" : "" }` } }}
    <div class="w-full px-3 py-1 bg-white/75 dark:bg-neutral-800/75 uppercase italic font-bold">{{ character.nickname }}</div>
  {{ /comp }}
{{ /if }}