{{ comp ui.raisedCard { classes: "mb-3 prose" } }}
  <div class="flex mb-3">
    <span class="font-semibold">
      {{ entry.name }}
    </span>
    <span class="ms-auto italic">
      {{ entry.date |> date('HUMAN_DATE') }}
    </span>
  </div>
  <div>
    {{ entry.message |> replaceAll('\n', '<br>') |> sanitize |> safe }}
  </div>
{{ /comp }}